{% extends "basebodyorg.html" %}

{% block title %}Create Post - Edu-Hub{% endblock %}

{% block content %}
<div class="container">
    <button id="back-button" class="back-button">Go Back</button>
    <h2>Create Post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div>
            <label for="image">Image</label>
            <input type="file" id="image" name="image" required>
        </div>
        <div>
            <button type="submit">Create Post</button>
        </div>
    </form>
</div>
{% endblock %}
